@{
    @model Shop
}

<div>
    <h3>@Model.Name</h3>
    <div class="m-1">
        <div class="mb-1">
            <h4>Детали</h4>
            <p>Адрес: @Model.Adress</p>
            <p>Время работы: @Model.WorkTime</p>
        </div>
        <a class="button" href="#openModal">Добавить предмет</a>
        <br>
        <table class="table_price">
            <colgroup>
                <col span="3">
                <col>
            </colgroup>
            <tr>
                <th>Наименование</th>
                <th>Цена, руб.</th>
            </tr>

            @foreach (Item b in ViewBag.Items)
            {
                <tr>
                    <td>@b.Name </td>
                    <td>@b.Price</td>
                    <td>
                    <th><a href="#">Удалить</a></th></td>
                </tr>
            }
        </table>
    </div>
</div>


<div id="openModal" class="modalDialog">
    <div>
        <a href="#close" title="Закрыть" class="close">X</a>
        <form method="post" action="/Shop/Create">
            <input type="hidden" value="@ViewBag.BookId" name="BookId" />
            <table>
                <tr>
                    <td><p>Введите свое имя </p></td>
                    <td><input type="text" name="Person" /> </td>
                </tr>
                <tr>
                    <td><p>Введите адрес :</p></td>
                    <td><input type="text" name="Address" /> </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Отправить" /> </td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</div>

@*<tr>
        <td>1</td>
        <td>Карандаш цветной</td>
        <td>20,00</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Линейка 20 см</td>
        <td>30,00</td>
    </tr>*@