@{
    @model IEnumerable<Shop>

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        @foreach (var shop in Model)
        {
            <div class="col-sm-4">
                <p class="example-shadow-2">
                    <a href="/Shop/Detail?shopId=@shop.Id">@shop.Name<br><br>@shop.Adress<br>@shop.WorkTime</a>
                </p>
            </div>
        }
    </div>
</div>


@*<div class="block1">
        <a href="/Shop/Detail?shopId=@shop[i].Id">
            <font size="5" color="Black" face="Arial">@shop[i].Name</font>
            <p><font>@shop[i].Adress</font></p>
            <p><font>@shop[i].WorkTime</font></p>
        </a>
    </div>*@